/* this is my custom CSS */
.wrapper{
position: relative;
}


/* social networks----------------------- */

.social-net{
height: 206px;
position: fixed;
top: 100px;
width: 66px;
z-index: 12;

}
.fb{
background: #3b5998 none repeat scroll 0 0;
left: 0;
padding: 13px 23px;
position: absolute;
top: 11px;
transition: all 0.3s ease-in 0s;
z-index: 15;

}

div.twit{
background: #1da1f2 none repeat scroll 0 0;
left: -1px;
padding: 13px 19px;
position: absolute;
top: 31%;
transition: all 0.3s ease-in 0s;
z-index: 15;
}
div.go-plus{
background: #dc4e41 none repeat scroll 0 0;
left: 0;
padding: 13px 19px;
position: absolute;
top: 56%;
transition: all 0.3s ease-in 0s;
z-index: 15;
}
div.in{
background: #cb2027 none repeat scroll 0 0;
left: -1px;
padding: 13px 22px;
position: absolute;
top: 81%;
transition: all 0.3s ease-in 0s;
z-index: 15;
}
div.youtube{
background: gray none repeat scroll 0 0;
left: -1px;
padding: 13px 20px;
position: absolute;
top: 106%;
transition: all 0.3s ease-in 0s;
z-index: 15;
}
.social-icon{
color: white;
font-size: 1.8em;


}

.fb:hover,div.twit:hover,div.go-plus:hover,div.in:hover,div.msg-box:hover,div.youtube:hover{
padding-left:27px;
cursor: pointer;



}

/* social_networks end---------- */

/* button_start */
.target_button{
background: blueviolet none repeat scroll 0 0;
border: 1px solid gray;
border-radius: 2px;

font-size: 22px;
padding: .6em .8em;
position: fixed;
right: 2%;
text-decoration: none;
top: 80%;
z-index: 55;

}

.fa.fa-chevron-up{
text-decoration: none;
color: white;

}


/* button_end */




/* ----header------------- */

header{
height: 42em;
position: relative;

}


.head_top{
background: rgba(3, 3, 3, 0.45) none repeat scroll 0 0;
color: white;
left: 0;
position: absolute;
top: 0;
width: 100%;
z-index: 5;


}


/* --------Menu----------------- */

.navbar.navbar-default {
background: transparent none repeat scroll 0 0;
border: medium none;
border-radius: 0;
margin: 0px;

}


.navbar-default .navbar-nav > li > a{
padding-bottom: 1em;
padding-top: 4em;
transition: all 0.5s ease-in 0s;
}

.navbar-default .navbar-nav > li > a[href *="#"]:hover{
background: #399FB5;
padding-bottom: 1em;
padding-top: 4em;

}




/* ------menu icon---------------- */


.navbar-default .navbar-nav > li > a[href *="#"]:hover .home-gift{
height: 3em;
color:#399FB5; 

}




li.home{
position: relative;

}
.home-gift{
color: rgba(94, 94, 96, 0.7);
font-size: 1em;
left: 38%;
position: absolute;
top: 34%;
transition: all 1s ease-in 0s;

}
.application .home-gift, li.wordpress .home-gift{
left: 45%;
}

.support{
left: 41%;

}


.navbar-nav li a .nav-span{
background: #eee none repeat scroll 0 0;
border-radius: 50%;
bottom: 37px;
color: #b8b8b8;
font-size: 16px;
height: 31px;
left: 50%;
line-height: 31px;
margin-left: -16px;
position: absolute;
text-align: center;
transition: all 0.2s ease 0s;
width: 31px;
}
.navbar-nav li a .nav-span::after{
background: #eee none repeat scroll 0 0;
content: "";
display: inline-block !important;
height: 25px;
left: 47%;
position: absolute;
top: -25px;
transition: all 0.2s ease 0s;
width: 1px;
}










/* -----drowpdown-------- */

.application{
position: relative;

}

.application ul{
left: 0;
margin: 0;
padding: 0;
position: absolute;
top: 6.4em;
width: 20em;
}
.application ul li{
background: #399fb5 none repeat scroll 0 0;
list-style: outside none none;
border-bottom: 1px solid rgba(86, 175, 181, 1);
padding: 7px 0;
transform: rotateX(90deg);
transition: all .5s ease-in 0s;
}

.application:hover li{
transform: rotateY(0deg);




}


.application li:hover{
background: rgba(50,142,163,1);
border-bottom: 1px solid rgba(50,142,163, .8);


}
.application ul li a{
text-decoration: none;
color: white;
padding-left: .5em;
}


.wordpress ul{
width: 22em;
}











#collapse ul{
float: right;

}

.toggle_menu, b{

color: white;
}

.logo_nav{


}



.head_bottom{
position: absolute;
left: 0;
top: 0;
z-index: 1;
width: 100%;



}






/* -----------Section------------------- */



.w_content{
padding: 10em 0;
font-family: open sans;
}

.w_content h1{
border-bottom: 1px solid #e2e2e2;
color: #43a5bd;
font-family: "Open Sans",Arial,sans-serif;
font-size: 36px;
padding-bottom: 0.5em;
position: relative;
margin-bottom: 1.3em;


}

.creativeitem::before{
background: #399fb5 none repeat scroll 0 0;
content: "";
left: 37%;
padding: 3px 21px;
position: absolute;
top: 98%;


}
.creativeitem::after{
background: #399fb5 none repeat scroll 0 0;
content: "";
padding: 1px 45px;
position: absolute;
right: 48%;
top: 100%;


}



.w_content p{
color: #333;
font-size: 24px;
line-height: 39px;
text-align: center;
}


.right_wel{
background: #eee url("../images/video-bg.png") no-repeat scroll -127px -61px;
height: 350px;
margin-left: 93px;
padding: 82px 0 0 60px;


}


.right_wel video{
width: 90%;
height: 100%;

}

.work{
background: rgba(0, 0, 0, 0) url("../images/what_we_do.jpg") repeat scroll 0 0;
background-attachment: fixed;
background-size: cover;
position: relative;
z-index: 1;

}
.w_left{
background: white none repeat scroll 0 0;
font-family: open sans;
margin-bottom: 70px;
padding: 20px;
text-align: center;
height: 400px;


}

.wel_box{
margin-top: 45px;
}
.w_left span{
background-color: #f0f0f0;
border: 1px solid #e6e6e6;
border-radius: 50%;
box-shadow: 0 0 0 3px #fff inset;
color: #b3b3b3;
display: table;
font-size: 38px;
height: 90px;
left: 40%;
line-height: 90px;
margin: -45px auto 25px;
position: absolute;
text-align: center;
transition: all 300ms linear 0s;
width: 90px;

}


.w_left:hover span{
background: #399FB5;
color: white;
cursor: pointer;

}


.w_left h1{
font-family: open sans;
font-size: 32px;
line-height: 40px;
margin-bottom: 30px;
}
.w_left p{
font-size: 16px;
line-height: 26px;
margin: 0px 0 16px 3px;

}

div.Work_row {
padding: 80px 0;
}

.item-box:hover::after, .item-box:hover .item-price, .team-box:hover::after, .team-box-2:hover::after, .responsive-nav, .search-box::before, .block-head::before, .block-head::after, .widget-head::before, .widget-head::after, .details-img::after, .post-image::after, .team-box::after, .team-box-2::after, .item-box::after, .team-box .team-socials li a:hover, .service-box-1::after, .portfolio-item::after{
background-color: #399fc3;

}



.block-head::before{
content: "";
display: inline-block;
height: 5px;
left: 95px;
position: absolute;
top: 199px;
width: 35px;
}
.block-head::after{
content: "";
display: inline-block;
height: 1px;
left: 70px;
position: absolute;
top: 201px;
width: 80px;

}
div.block-head h1{
border-bottom: 1px solid #ffffff;
color: #fff;
font-family: open sans;
margin: 2em;
padding-bottom: 9px;
}







/* -----Recent projects---------------------------- */

.project_wrapper{
padding: 120px 0;
position: relative;
}


 .our-team{
 position: relative;
 
 }
 
 .block-head-recent::before{
left: 56px;
top: 46px;
 }
 .block-head-recent::after{
left: 50px;
top: 48px;
 }
 
 
 
 
 
.project_wrapper .block-head-recent h1 {
  border-bottom: 1px solid #399fc3;
color: #399fc3;
font-family: open sans;
margin-bottom: 25px;
margin-left: 15px;
margin-top: 0;
margin-right: 8px
}


.our-team .single-team .portfolio-item{
background-color: #eee;
margin: 0 15px;
overflow:hidden;
-moz-transition: all 3s ease 0s;
-webkit-transition: all 3s ease 0s;
transition: all 3s ease 0s;

}
.our-team .single-team .portfolio-item::after{
border-top: 2px solid #fff;
clear: both;
content: "";
display: block;
height: 3px;

}




.portfolio-item:hover .img-over{

display: block;
}


.portfolio-item:hover .img-over+img{

-moz-transform: scale(1.3);
cursor: pointer;

}




.portfolio-item:hover .fx{
left: 0px;
}
.portfolio-item:hover .link{
border-right: 294px solid transparent;
border-top: 195px solid rgba(55, 128, 146, 0.6);

}

 .img-holder{
cursor: pointer;
position: relative;

}




.fx{
border-right: 263px solid transparent;
border-top: 176px solid rgba(0, 0, 0, 0.6);
height: 0;
left: 30px;
margin: 0;
position: absolute;
transform: rotate(180deg);
transition: all 2s ease 0s;
width: 0;
z-index: 14;
}

.fx i{
color: white;
font-size: 35px;
position: absolute;
right: -108px;
top: -143px;

}
.link{
border-right: 268px solid transparent;
border-top: 165px solid rgba(55, 128, 146, 0.6);
height: 0;
left: -30px;
margin: 0;
position: absolute;
transition: all 2s ease 0s;
width: 0;
z-index: 9;

}



.link i{
color: white;
font-size: 35px;
left: 94px;
position: absolute;
top: -139px;

}







.our-team .single-team  .portfolio-item img{
height: auto;
transition: all 1s ease-out 0s;
width: 100%;


}
.our-team .single-team .portfolio-item h2{
color: #93b0c2;
cursor: pointer;
font-size: 24px;
font-weight: 400;
margin: 0;
overflow: hidden;
padding: 20px;
position: relative;
transition: all 2s ease 0s;
z-index: 20;
background: #EEEEEE;
}


.our-team .single-team .portfolio-item h2:hover{
color: #101010;
}
.our-team .single-team .portfolio-item span{
color: #777777;
font-size: 15px;

}


span.portal,span.pro,span.bayanno,span.crm{
margin-left: 3em;


}

.glyphicon.glyphicon-star{
margin-left: .5em;
}





/* customers-------- */

.customers{
background: rgba(0, 0, 0, 0) url("../images/block-bg-4.jpg") repeat fixed center center;
height: 700px;
position: relative;
z-index: 1;

}
.custom_wrapper{
background: rgba(57, 159, 181, 0.7) none repeat scroll 0 0;
height: 100%;
left: 0;
position: absolute;
top: 0;
width: 100%;
z-index: 5;
}
.custom h1{
margin: 74px 0 !important;
padding: 78px 0;

}

.block-head.custom::before, .block-head.custom::after{
background: white;

}

/* owl-carousal ---------*/


.owl-buttons{
position: absolute;
right: -45px;
top: -64px;
}
.owl-theme .owl-controls .owl-buttons div {
background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
border: 1px solid;
border-radius: 2px;
color: #a0a0a0;
display: inline-block;
font-size: 17px;
margin: 0 2px;
padding: 3px 10px;
-moz-transition: all .2s ease 0s;
transition: all .2s ease 0s;
}

.owl-theme .owl-controls .owl-buttons div:hover{

background:#399FB5;
color: white;
}
/* --------carosal_2-------- */
.carosal-2{
border: 1px solid;
color: #ddd;
font-size: 12px;
margin: 4em 10em;
padding: 2em;
}


.carosal_content{
	position: relative;
	width: 100%;
	height: 200px;
	
	
}

 .left-side{

	position: absolute;
	width: 40%;
	top: 0;
	z-index: 3;


	
}
.right-side{
	
	
	position: absolute;
	z-index: 4;
	left: 40%;
	

	
}

.tab-header {
    bottom: 42.5em;
left: 89%;
position: absolute;
width: 100px;
}

.hidden{
display: none;
}

.showData{
	display: block;
	-moz-transition: 2s ease;
	-webkit-transition: 2s ease;
	transition: 2s ease;

}


.tab-header a{
	padding: .5em;
	border: 1px solid black;
	font-size: 1.2em;

}




div.carosal_content.owl-wrapper{}





/* ---------footer----------- */


.footer_top{
background: #222 none repeat scroll 0 0;
border-bottom: 1px solid #0f0f0f;
color: #aaa;
overflow: hidden;
padding: 60px 0 50px;

}

.left_footer{

height: 240px;
position: relative;

}

.left_footer .block-head::before{
left: 20px;
position: absolute;
top: 38px;

}

.left_footer .block-head:after{
left: 0;
position: absolute;
top: 40px;
}


.left_footer h3{
border-bottom: 1px solid #3a3a3a;
color: #c5c5c5;
font-size: 18px;
font-weight: bold;
padding-bottom: 20px;

}
.left_footer ul{
margin-left: 0;
padding-left: 0;
}
.left_footer ul li{
padding: 7px 0;
}
.left_footer ul li a {
color: #6a6a6a;
font-size: 13px;
text-decoration: none;
transition: all 0.5s ease 0s;

}

.left_footer ul li a:hover{
color: #329FB5
}



.footer_bootom{
background: #1d1d1d none repeat scroll 0 0;
border-top: 1px solid #363636;
overflow: auto;
padding: 15px 0;

}


.right {
  float: right !important;
}
.skew-25 {
  transform: skew(0deg, 0deg);
  
}

.skew-25:hover{
  
  transform: skew(-25deg, 0deg);

}

.social-list li {
  float: left;
  font-size: 18px;
  margin: 0 1px 0 0;
  list-style: none;
}

.social-list li a {
  color: #737373;
  display: block;
  padding: 0;
  text-decoration: none;
  transition: all 1s ease 0s;

}


.social-list li a :hover{
background:#399FC3;
  color: white;

}

.social-list li span {
  display: block;
  line-height: 33px;
  padding: 0 12px;
  text-align: center;
}



/* fotter bottom */

.copyright{
color: #eee;

}

.copyright span{
color: #399fc3;
}

/* -------------Footer End--------------------------- */











/* ----------Responsive Design---------------------- */



/* -------phone and handset--------- */
@media screen and (max-width: 767px) {

#collapse ul{
float: none !important;
}

.nav.nav-navbar{
background: transparent !important;
} 

.navbar-default .navbar-nav > li > a {
padding: 1.5em 1em;
transition: all 0.5s ease-in 0s;
}

.navbar-default .navbar-nav > li > a[href *="#"]:hover{
background: #000;
padding-bottom: 0px;
padding: 1.5em 1em;

}

div.navbar-collapse div.in{}

.navbar-nav {
  margin: 0px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
background: #010101;

}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
background: #010101;

}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
background: #010101;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a{
color: #fff;

}



.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus{
background: #62B5F6;
color: #fff;


}

div.in {

background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
left: 0;
position: relative;
transition: all 0.3s ease-in 0s;
z-index: 15;
 
}

.block-head.custom::before{
left: 18px;

}


div.footer_bootom .copyright{

text-align: center;
}



 
}





/* -------tablet--------- */
@media screen and (max-width: 991px) {
 
 .w_content {
  padding: 0 0;
 
}

header {
  height: 25.7em;
  position: relative;

}

.left_wel{
padding: 12em 0;

}

.creativeitem::before {
  background: #399fb5 none repeat scroll 0 0;
  content: "";
  left: 43%;
  padding: 3px 21px;
  position: absolute;
  top: 98%;
}


.right_wel {
  background: #eee url("../images/video-bg.png") no-repeat scroll -127px -61px;
  height: 350px;
  margin-bottom: 7em;
  margin-left: 32px;
  padding: 0 0 0 60px;
}

div.block-head h1 {
  border-bottom: 1px solid #ffffff;
  color: #fff;
  font-family: open sans;
  margin: 39px 0 100px 31px;
  padding-bottom: 9px;
}

.owl-buttons {
  position: absolute;
  right: 0;
  top: -66px;
}



div.block-head h1 {
  border-bottom: 1px solid #ffffff;
  color: #fff;
  font-family: open sans;
  margin: 73px 0 76px 70px;
  padding-bottom: 9px;
}

.block-head-recent::after {
  left: 30px;
  top: 48px;
}

.block-head-recent::before {
  left: 54px;
top: 46px;
}


.block-head.custom::after {
background: white none repeat scroll 0 0;
left: 119px;
top: 201px;
}

.block-head.custom::before{
left: 145px;

}





 
 
}

/* -------laptop--------- */
@media screen and (min-width: 992px) {

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{

background: #399FB5;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
background: #399FB5;

}


.creativeitem::before {
  background: #399fb5 none repeat scroll 0 0;
content: "";
left: 36%;
padding: 3px 21px;
position: absolute;
top: 98%;
}
 
}


/* --------large device------------------ */

@media only screeen and(min-device-width: 1260px){



}